.match-item-card {
  list-style-type: none;
  background-color: #0f172a;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin-bottom: 20px;
}

.match-card-img {
  height: 100px;
  width: 90px;
}

.match-card-team-name {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
}

.match-card-result {
  font-family: 'Bree Serif';
  font-size: 15px;
  color: #ffffff;
}

.won {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #18ed66;
}

.lost {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #e31a1a;
}
